.menu{
	$widthMenu: 15em;
	$sizeToggle: 3.5em;
	position:fixed;
	top:0;
	left: -$widthMenu;
	width: $widthMenu;
	background: #222;
	z-index: 2000;
	color:white;

	transition: all .3s ease;

	transition-delay: .05s;


	&.show{
		left:0;
		opacity: 1;
		width: 10em;

		.toggler:after{
			content:'<';
		}
	}

	.toggler{
		position: absolute;
		top: 0;
		right: -$sizeToggle;
		height:$sizeToggle;
		width:$sizeToggle;

		&:after{
			content:'>';
			text-align: center;
			display: block;
			width: 100%;
			height: 100%;
			font-size: 1.5em;
			text-align: center;
			line-height: $sizeToggle*2/3;
		}


		background: #222;
		color: white;
	}


	a{
		display: block;
		color:white;
		text-decoration: none;
		padding: $sizeToggle/2 .4em;


		&:hover{
			color: #aaa;
		}
	}

	li{
		display: block;

		border-bottom: 1px solid #333;

		&:last-child{
			border-bottom: none;
		}
	}
}