.menu{
	$widthMenu: 15em;
	$sizeToggle: 2.5em;
	position:fixed;
	top:0;
	left: -$widthMenu;
	width: $widthMenu;
	background: #222;
	z-index: 2000;
	color:white;

	transition: all .3s ease;

	transition-delay: .05s;


	&:hover{
		left:0;
		opacity: 1;
		width: 10em;

		&:after{
			content:'<';
		}
	}

	&:after{
		position: absolute;
		top: 0;
		right: -$sizeToggle;
		height:$sizeToggle;
		width:$sizeToggle;
		content:'>';
		font-size: 1.5em;
		text-align: center;
		line-height: $sizeToggle;

		background: #222;
		color: white;
	}


	a{
		display: block;
		color:white;
		text-decoration: none;
		padding: $sizeToggle/2 .4em;


		&:hover{
			color: #aaa;
		}
	}

	li{
		display: block;

		border-bottom: 1px solid #333;

		&:last-child{
			border-bottom: none;
		}
	}
}